<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>
    <div id="demo">
        <input type="text" v-model="n1">
        <select name="" id="" v-model="n4">
            <option value="+">+</option>
            <option value="-">-</option>
            <option value="*">*</option>
            <option value="/">/</option>
        </select>
        <input type="text" v-model="n2">
        <button @click="result">=</button>
        <input type="text" v-model="n3">
    </div>
    <script src="vue.js"></script>
    <script>new Vue({
            el: '#demo',
            data: {
                n1: 0,
                n2: 0,
                n3: 0,
                n4: '+'
            },
            methods: {
                //计算
                result() {
                    switch (this.n4) {
                        case '+': this.n3 = parseInt(this.n1) + parseInt(this.n2)
                            break;
                        case '-': this.n3 = this.n1 - this.n2;
                            break;
                        case '*': this.n3 = this.n1 * this.n2;
                            break;
                        case '/': this.n3 = this.n1 / this.n2;
                            break;
                    }
                    console.log(this.n3);

                }
            }
        })
    </script>
</body>

</html>